/ENEL_RJ_383_2022-09-30_V10_20240605-0611.gdb
/Solar-Panel-Detector-master
/LIGHT_382_2021-09-30_M10_20231218-2133.gdb
CNEFE_RJ.csv
/world
/mixed
/tiles_cache
/tiles_cache
/tiles_caches
*.rar
*.zip
/Dados Brutos
Painel Solar/world/yolov5_X.pt
New folder/audio_extraido.mp3
New folder/monitoria.mkv
/brasilia
/parque
/teresina
/tiles dataset
Organizar/mapa_alta_resolucao.png
Organizar/mosaico_circular.png
Organizar/mosaico_circular_preciso.png
Organizar/mosaico_circular_precisoo.png
Organizar/mosaico_voronoi.png
Organizar/estrutura_gdb.png
/Dataset
